<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>  <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header"</header>  <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->

        <main>
            <div id="divFormPaciente" class="container-fluid divFormPaciente contenedorMain">
                <div class="row titulo">
                    <h3>EDITAR PERFIL</h3>
                </div>

                <form
                    class="form-floating row formulario formularioCrear"
                    id="formulario"
                    th:action="@{/paciente/perfil/__${paciente.id}__}"
                    method="POST"
                    enctype="multipart/form-data"
                    >
                    <!-- IMAGEN DE PERFIL -->
                    <div class="rowImagenPerfil">
                        <div class="col-2 divImagenPerfil">                          

                            <img class="imagenPerfil"
                                 th:src="${session.pacienteSession.imagen != null ? '/imagen/perfil/__${session.pacienteSession.id}__' : '../predeterminada_perfil.png'}" >
                  <a href="#" class="linkIconoCamara" >
                                <i class="fa-solid fa-camera fa-xl"></i>
                            </a>
                        </div>

                    </div>
                    <!-- DATOS PERSONALES -->
                    <div class="row rowDatosPersonales">

                        <!-- form-floating es para que el placeholder se haga chiquito en el input y no desaparezca -->
                        <!-- INPUT OCULTO DEL ID -->
                        <input
                            hidden
                            type="text"
                            id="id"
                            name="id"
                            th:value="${paciente.id}"
                            />

                        <!-- INPUT NOMBRE-->
                        <div class="col-xs-12 col-md-6 form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="nombre"
                                name="nombre"
                                th:value="${paciente.nombre}"
                                placeholder=""
                                />
                            <label for="nombre">Nombre</label>
                        </div>
                        <!-- INPUT APELLIDO-->
                        <div class="col-xs-12 col-md-6 form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="apellido"
                                name="apellido"
                                th:value="${paciente.apellido}"
                                placeholder=""
                                />
                            <label for="apellido">Apellido</label>
                        </div>
                        <!-- INPUT DNI-->
                        <div class="col-xs-12 col-md-6 form-floating">
                            <input
                                type="text"
                                class="form-control"
                                id="dni"
                                name="dni"
                                th:value="${paciente.dni}"
                                placeholder=""
                                />
                            <label for="dni">DNI (sin puntos ni espacios)</label>
                        </div>

                        <!-- INPUT FECHA NACIMIENTO -->
                        <div class="col-xs-12 col-md-6 form-floating">
                            <input
                                type="date"
                                class="form-control"
                                id="naciemiento"
                                name="nacimiento"
                                th:value="${#dates.format(paciente.fechaNacimiento, 'yyyy-MM-dd')}"
                                />
                            <label for="naciemiento">Fecha de Nacimiento</label>
                        </div>
                        <div class="divisorForm divBorder row">
                            <!-- INPUT SEXO-->
                            <div class="col-xs-12 col-md-6 divSexo form-floating">
                                <select name="sexo" id="sexo" class="sexo form-select" th:value="${recargaFormulario != null ? recargaFormulario.sexo : paciente.sexo}">
                                    <option value="Elegir Opcion" selected disabled>Elegir opción...</option>
                                    <option value="Masculino" th:selected="${paciente.sexo == 'Masculino'}">Masculino</option>
                                    <option value="Femenino" th:selected="${paciente.sexo == 'Femenino'}">Femenino</option>
                                    <option value="Otro" th:selected="${paciente.sexo == 'Otro'}">Otro</option>
                                </select>
                                <label for="sexo">Sexo</label>
                            </div>

                            <!-- INPUT DIRECCIÓN-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="direccion"
                                    name="direccion"
                                    th:value="${paciente.direccion}"
                                    placeholder=""
                                    />
                                <label for="direccion">Dirección</label>
                            </div>
                            <!-- INPUT MAIL-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="correo"
                                    name="correo"
                                    th:value="${paciente.email}"
                                    placeholder=""
                                    />
                                <label for="correo">Email</label>
                            </div>
                            <!-- INPUT TELEFONO-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="telefono"
                                    name="telefono"
                                    th:value="${paciente.telefono}"
                                    placeholder=""
                                    />
                                <label for="telefono">Telefono</label>
                            </div>
                            <!-- INPUT IMAGEN -->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input 
                                    type="file" 
                                    class="form-control" 
                                    id="foto" 
                                    name="archivo"
                                    th:value="${paciente.imagen}"
                                    />
                                <label for="foto">Foto de Perfil</label>
                            </div>
                            <!-- INPUT OBRA SOCIAL-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <select name="obraSocial" id="obraSocial" class="obraSocial form-select"
                                        th:value="${paciente.obraSocial}"
                                        onchange="abrirModal()">
                                    <option value="" selected disabled>Elegir Obra Social</option>
                                    <th:block th:each="obraSocial : ${obrasSociales}">
                                        <option th:text="${obraSocial.nombre}" th:selected="${obraSocial.id == paciente.obraSocial.id}"></option>
                                    </th:block>
                                    <option>Cargar otra...</option>
                                </select>
                                <label for="obraSocial" class="datosInput">Obra Social</label>
                                <script>
                                    function abrirModal() {
                                        var select = document.getElementById("obraSocial");
                                        var value = select.options[select.selectedIndex].value;

                                        if (value == "Cargar otra...") {
                                            var formulario = document.getElementById("formulario");
                                            var datosFormulario = new FormData(formulario);
                                            fetch('/paciente/guardarDatosFormulario', {
                                                method: 'POST',
                                                body: datosFormulario
                                            })
                                                    .then(function (respuesta) {
                                                        if (respuesta.ok) {
                                                            // En caso de éxito, mostrar mensaje de confirmación
                                                            console.log("Formulario enviado con éxito");
                                                        } else {
                                                            // En caso de error, mostrar mensaje de error
                                                            alert("Error al enviar el formulario");
                                                        }
                                                    })
                                                    .catch(function (error) {
                                                        // En caso de error, mostrar mensaje de error
                                                        alert("Error al enviar el formulario: " + error.message);
                                                    });

                                            var ventanaModal = document.getElementById("myModal");
                                            ventanaModal.style.display = "block";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="divisorForm divBorder row">
                            <!-- INPUT PASSWORD-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    name="password"
                                    placeholder=""
                                    />
                                <label for="password">Contraseña</label>
                            </div>
                            <!-- INPUT PASSWORD2-->
                            <div class="col-xs-12 col-md-6 form-floating">
                                <input
                                    type="password"
                                    class="form-control"
                                    id="password2"
                                    name="password2"
                                    placeholder=""
                                    />
                                <label for="password2">Repetir Contraseña</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 DivBtnEnviar">
                        <button
                            type="submit"
                            name="submit"
                            value="registrar"
                            class="btn btn-primary btnEnviar botonesFormulario"
                            >
                            Actualizar
                        </button>
                    </div>
                    <div class="col-xs-12 mt-3 DivBtnEnviar">
                        <a th:href="@{/paciente/baja/__${paciente.id}__}" class="btn btn-danger">
                            Darse de baja
                        </a>
                    </div>
                </form>

                <!-- VENTANA MODAL PARA CARGA DE NUEVA OBRA SOCIAL -->
                <div class="modal " id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form
                                class="formulario formularioModal"
                                id="formularioModal"
                                method="POST"
                                >
                                <!-- MODAL HEADER --> 
                                <div class="modal-header">
                                    <h3 class="modal-title">REGISTRAR NUEVA OBRA SOCIAL</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="cerrarModal()"></button>
                                </div>
                                <!-- MODAL BODY -->
                                <div class="row rowDatosPersonales">
                                    <div class="tituloForm">
                                        <h4>En caso que la obra social no tenga sigla, usar el nombre completo</h4>

                                    </div>
                                    <!-- form-floating es para que el placeholder se haga chiquito en el input y no desaparezca -->

                                    <!-- INPUT NOMBRE-->
                                    <div class="col-xs-12  form-floating">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="nombreObraSocial"
                                            name="nombreObraSocial"
                                            placeholder=""
                                            />
                                        <label for="nombreObraSocial">Sigla o nombre de la obra social</label>
                                    </div>
                                </div>

                                <!-- MODAL FOOTER -->
                                <div class="modal-footer mx-2">
                                    <button type="button" class="btn btn-primary"  onclick="cargarObraSocial()">Aceptar</button>
                                    <button type="button" class="btn btn-danger" onclick="cerrarModal()">Cancelar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <script>
                    function cerrarModal() {
                        var ventanaModal = document.getElementById("myModal");
                        ventanaModal.style.display = "none";
                    }

                    function cargarObraSocial() {
                        var formulario = document.getElementById("formularioModal");
                        var datosFormulario = new FormData();
                        datosFormulario.append("nombreObraSocial", formulario.nombreObraSocial.value);

                        fetch('/registroObraSocial', {
                            method: 'POST',
                            body: datosFormulario
                        })
                                .then(function (respuesta) {
                                    if (respuesta.ok) {
                                        //en caso de exito
                                        cerrarModal();
                                        location.reload();
                                    } else {
                                        // En caso de error
                                        console.log("Error en el envío del formulario.");
                                    }
                                })
                                .catch(function (error) {
                                    // En caso de error
                                    console.log("Error en el envío del formulario: " + error.message);
                                });
                    }
                </script>
            </div>
        </main>

        <!--FOOTER-->
        <div class="container-fluid pie">
            <footer  th:replace="/fragments/footer :: footer"</footer><!--NO MODIFICAR-->
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script> <!--NO MODIFICAR-->

    </body>
</html>