<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>  <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header"</header>  <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->
        <main>
            <div
            id="divFormWizard"
            class="container-fluid contenedorMain"
          >
            <form
              id="formulario"
              class="form-floating formWizard formTurno"
              th:action="@{/turno/registroTurno}"
              method="POST"
              enctype="multipart/form-data"
              >
              <div class="tituloForm">
                <h1>Reservar MiTurno</h1>
              </div>
                 
              <div class="row">
                <h5>Elegí el profesional</h5>
               
                <div class="col-12 col-md-6 form-floating">
                  <select
                      name="especialidad"
                      id="especialidad"
                      class="especialidad form-select"
                      >
                   <option value="todas">Especialidad</option>
                   <option th:each="especialidad : ${especialidad}" th:value="${especialidad}" th:text="${especialidad}"></option>
                  </select>
                   <label for="especialidad"><i class="fa-solid fa-suitcase-medical iconForm"></i>Especialidad</label>
              </div>

              <div class="col-12 col-md-6 form-floating">
                <select name="profesional" id="profesional" class="form-select"  >
                  <option value="">Profesional</option>
                  <option th:each = "profesional : ${profesional}"
                   th:value="${profesional}"
                    th:text="${profesional.apellido + ', ' + profesional.nombre}"
                    th:attr="data-especialidad=${profesional.especialidad}, data-id=${profesional.id}">
                   
                  </option>
                </select>   
                <label for="profesional"><i class="fa-solid fa-user iconForm"></i>Profesional</label>
                 
                </div>

                <div class="col-xs-12 form-floating">
                  <textarea
                      type="text"
                      class="form-control motivo"
                      id="motivo"
                      placeholder=""
                      name="motivo"
                      ></textarea>
                  <label for="motivo"
                         ><i class="fa-sharp fa-solid fa-heart-pulse iconForm"></i>Motivo de la consulta
                      <span class="aclaracion">(opcional)</span> <!-- cambiar estilo del span -->
                  </label>
                  <p id="contador" class="contador"></p>
              </div>
                </div>

              <div class="rowAgenda" id="rowAgenda">
                <div class="row">
             
                             
                <div class="col-xs-12 col-lg-6 form-floating">
                  <h5><i class='fa-solid fa-calendar-days iconForm'></i>Fecha</h5>
                  <div class="fecha">
                    <div class="selectorMes">
                        <button
                            id="btn-mes-anterior"
                            class="col-2 btn btn-primary btnEnviar btnAtras btnCalendario botonesFormulario"
                            >
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                  
                        <h5 id="mes" class="col-6">     </h5>
                        <button
                            id="btn-mes-siguiente"
                            class="col-2 btn btn-primary btnEnviar btnCalendario botonesFormulario"
                            >
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </div>
                    <div class="col-xs-12 calendario" id="calendario">
                      
                    </div>
                          
                </div>
              </div>
 
               
                <div class="col-xs-12 col-lg-6 form-floating">
                  <h5><i class="fa-solid fa-clock iconForm"></i>Horario</h5>
                  <div class="hora">
                 <div class="selectorMes">
                          <h5 id="mes" class="col-6">Horarios</h5>
  
                  </div>
                          
                   <!--    <div class="horariosDiv row">
                          <div th:each="horario : ${profesional.horas}" class="horariosInput col-3">
                              <label th:text="${horario}" class="labelHoraTurno"></label>
                              <input type="radio"  th:value="${horario}"  name="horario"  class="inputRadioHora"/>
                          </div>
                          
                   </div>-->
         

                  </div>

              </div> 
                </div> 
            </div>
                  




              <div class="col-xs-12 DivBtnEnviar">
                <button
                    type="submit"
                    name="submit"
                    value="registrar"
                    class="btn btn-primary btnEnviar botonesFormulario"
                    >
                    ¡Sacar MiTurno!
                </button>
            </div>          
           
 
            </form>
          </div>
        </main>
        <!--FOOTER-->
        <div class="container-fluid pie">
            <footer  th:replace="/fragments/footer :: footer"</footer><!--NO MODIFICAR-->
        </div>
        <script src="../../scripts.js"></script>
        <script src="../../scriptsTurno.js"></script>
   
       
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script> <!--NO MODIFICAR-->

    </body>
</html>
