<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragments/head :: head"
</head>  <!--NO MODIFICAR-->

<body>
    <!--HEADER-->
    <div class="container-fluid cabecera">
        <header th:replace="/fragments/header :: header"
    </header>  <!--NO MODIFICAR-->
</div>

<!--MAIN-->

<main>
    <div id="divFormPaciente" class="container-fluid divFormPaciente contenedorMain">
        <form
            class="form-floating row formulario formularioCrear"
            id="formulario"

            th:action="@{/paciente/registroPaciente}"
            method="POST"
            enctype="multipart/form-data"
            th:object="${recargaFormulario}"
            >
            <!-- DATOS PERSONALES -->
            <div class="row rowDatosPersonales">

                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError rounded-3 p-2">
                    <div class="card-body">
                        <h5 class="card-title fs-5 fw-bold mb-3" style="font-family: Montserrat, sans-serif;">⚠️¡Ingreso de
                            paciente FALLIDO!⚠️</h5>
                        <p class="card-text fs-6 mb-0 custom-error-message" th:text="${error}"></p>
                    </div>
                </div>

                <div class="tituloForm">
                    <h4>Completá el formulario y sé parte de MiTurno</h4>
                </div>
                <!-- form-floating es para que el placeholder se haga chiquito en el input y no desaparezca -->
                
        
                <div class="row divisorForm">
                    <!-- INPUT NOMBRE-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            th:value="${recargaFormulario != null ? recargaFormulario.nombre : nombre}"
                            placeholder=""
                            />
                        <label for="nombre" ><i class="fa-solid fa-user iconForm"></i>Nombre</label>
                    </div>
                    <!-- INPUT APELLIDO-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            th:value="${recargaFormulario != null ? recargaFormulario.apellido : apellido}"
                            placeholder=""
                            />
                        <label for="apellido"><i class="fa-solid fa-circle-exclamation iconForm"></i>Apellido</label>
                    </div>
                    <!-- INPUT DNI-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="dni"
                            name="dni"
                            th:value="${recargaFormulario != null ? recargaFormulario.dni : dni}"
                            placeholder=""
                            />
                        <label for="dni"><i class="fa-solid fa-id-card iconForm"></i>DNI <span class="aclaracion"> (sin puntos ni espacios)</span> </label>
                    </div>
                 
                    <!-- INPUT MAIL-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="correo"
                            name="correo"
                            th:value="${recargaFormulario != null ? recargaFormulario.email : email}"
                            placeholder=""
                            />
                        <label for="correo"><i class="fa-solid fa-envelope iconForm"></i>Email</label>
                    </div>
                    <!-- INPUT DIRECCIÓN-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="direccion"
                            name="direccion"
                            th:value="${recargaFormulario != null ? recargaFormulario.direccion : direccion}"
                            placeholder=""
                            />
                        <label for="direccion"><i class="fa-solid fa-location-dot iconForm"></i>Dirección</label>
                    </div>
                    <!-- INPUT TELEFONO-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="text"
                            class="form-control"
                            id="telefono"
                            name="telefono"
                            th:value="${recargaFormulario != null ? recargaFormulario.telefono : telefono}"
                            placeholder=""
                            />
                        <label for="telefono"><i class="fa-solid fa-phone iconForm"></i>Telefono</label>
                    </div>
                    
                </div>
                <div class="divisorForm divBorder row">
                    <!-- INPUT FECHA NACIMIENTO -->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="date"
                            class="form-control"
                            id="naciemiento"
                            name="nacimiento"
                            th:value="${recargaFormulario != null ? recargaFormulario.fechaNacimiento : fechaNacimiento}"
                            />
                        <label for="naciemiento"><i class="fa-solid fa-calendar-days iconForm"></i>Fecha de Nacimiento</label>
                    </div>
                    <!-- INPUT SEXO-->
                    <div class="col-xs-12 col-md-6 divSexo form-floating">
                        <select name="sexo" id="sexo" class="sexo form-select" th:value="${recargaFormulario != null ? recargaFormulario.sexo : sexo}">
                            <option value="Elegir Opcion" selected disabled>Elegir opción...</option>
                            <option value="Masculino" th:selected="${recargaFormulario != null and recargaFormulario.sexo == 'Masculino'}">Masculino</option>
                            <option value="Femenino" th:selected="${recargaFormulario != null and recargaFormulario.sexo == 'Femenino'}">Femenino</option>
                            <option value="Otro" th:selected="${recargaFormulario != null and recargaFormulario.sexo == 'Otro'}">Otro</option>
                        </select>
                        <label for="sexo"><i class="fa-solid fa-genderless iconForm"></i>Sexo</label>
                    </div>
                    <!-- INPUT OBRA SOCIAL-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <select name="obraSocial" id="obraSocial" class="obraSocial form-select"
                                th:value="${recargaFormulario != null ? recargaFormulario.obraSocial : ''}">
                            <option value="" selected disabled>Elegir Obra Social</option>
                            <th:block th:each="obraSocial : ${obrasSociales}">
                                <option th:value="${obraSocial.id}"
                                        th:selected="${recargaFormulario != null and obraSocial == recargaFormulario.obraSocial}"
                                        th:text="${obraSocial.nombre}"></option>
                            </th:block>
                            <option id="optionCargarOtra">Cargar otra...</option>
                        </select>
                        <label for="obraSocial"><i class="fa-solid fa-book-medical iconForm"></i>Obra Social</label>
                       
                    </div>
                    <!-- INPUT IMAGEN -->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="file"
                            class="form-control"
                            id="foto"
                            name="archivo"
                            th:value="${recargaFormulario != null ? recargaFormulario.imagen : imagen}"
                            />
                        <label for="foto"><i class="fa-solid fa-camera iconForm"></i>Foto de Perfil  
                    <span class="aclaracion">(opcional)</span> </label>
                    </div>
                </div>
                <div class="divisorForm divBorder row">
                    <!-- INPUT PASSWORD-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            placeholder=""
                           
                            />
                        <label for="password"><i class="fa-solid fa-lock iconForm"></i>Contraseña</label>
                    </div>
                    <!-- INPUT PASSWORD2-->
                    <div class="col-xs-12 col-md-6 form-floating">
                        <input
                            type="password"
                            class="form-control"
                            id="password2"
                            name="password2"
                            placeholder=""
                       
                            />
                        <label for="password2"><i class="fa-solid fa-circle-check iconForm" id="iconoCheck"></i>Repetir Contraseña</label>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 DivBtnEnviar">
                <button
                    type="submit"
                    name="submit"
                    value="registrar"
                    class="btn btn-primary btnEnviar botonesFormulario"
                    >
                    ¡Registrarme!
                </button>
            </div>
         </form>

        <!-- VENTANA MODAL PARA CARGA DE NUEVA OBRA SOCIAL -->
        <div class="modal " id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form
                        class="formulario formularioModal"
                        id="formularioModal"
                        method="POST"
                        >
                        <!-- MODAL HEADER --> 
                        <div class="modal-header">
                            <h3 class="modal-title">REGISTRAR NUEVA OBRA SOCIAL</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="cerrarModal()"></button>
                        </div>
                        <!-- MODAL BODY -->
                        <div class="row rowDatosPersonales">
                            <div class="tituloForm">
                                <h4>En caso que la obra social no tenga sigla, usar el nombre completo</h4>

                            </div>
                            <!-- form-floating es para que el placeholder se haga chiquito en el input y no desaparezca -->

                            <!-- INPUT NOMBRE-->
                            <div class="col-xs-12  form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="nombreObraSocial"
                                    name="nombreObraSocial"
                                    placeholder=""
                                    />
                                <label for="nombreObraSocial"><i class="fa-solid fa-file-medical iconForm"></i>Sigla o nombre de la obra social</label>
                            </div>
                        </div>

                        <!-- MODAL FOOTER -->
                        <div class="modal-footer mx-2">
                            <button type="button" class="btn btn-primary"  onclick="cargarObraSocial()">Aceptar</button>
                            <button type="button" class="btn btn-danger" onclick="cerrarModal()">Cancelar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <script>
            function cerrarModal() {
                var ventanaModal = document.getElementById("myModal");
                ventanaModal.style.display = "none";
            }

            function cargarObraSocial() {
                var formulario = document.getElementById("formularioModal");
                var datosFormulario = new FormData();
                datosFormulario.append("nombreObraSocial", formulario.nombreObraSocial.value);

                fetch('/obraSocial/registroObraSocial', {
                    method: 'POST',
                    body: datosFormulario
                })
                        .then(function (respuesta) {
                            if (respuesta.ok) {
                                //en caso de exito
                                cerrarModal();
                                location.reload();
                            } else {
                                // En caso de error
                                console.log("Error en el envío del formulario.");
                            }
                        })
                        .catch(function (error) {
                            // En caso de error
                            console.log("Error en el envío del formulario: " + error.message);
                        });
            }
        </script>

    </div>
</main>

<!--FOOTER-->
<div class="container-fluid pie">
    <footer th:replace="/fragments/footer :: footer"
</footer><!--NO MODIFICAR-->
</div>

        <script src="../../scriptsGuardaDatosForm.js"></script>
        <!-- <script src="../../scriptsFormularios.js"></script> -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"
></script> <!--NO MODIFICAR-->

</body>
</html>
