<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>  <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header"</header>  <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->

        <main>


            <div class="container-fluid contenedorDiv">
                <h3>PROFESIONALES POR ESPECIALIDAD</h3>

                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Valor de Consulta</th>
                            <!-- <th scope="col">Calificación</th> -->

                    </thead>

                    <tbody th:each="profesional : ${profesionales}">
                        <tr>
                            <td th:text="${profesional.nombre}"></td>
                            <td th:text="${profesional.apellido}"></td>
                            <td th:text="${profesional.especialidad}"></td>
                            <td th:text="${profesional.honorario}"></td>
                            <!-- <td th:text="${profesional.calificación}"></td> -->
                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary" href="/profesional/listar" role="button">Volver</a>


            </div>



        </main>
        <!--FOOTER-->
        <div class="container-fluid pie">
            <footer  th:replace="/fragments/footer :: footer"</footer><!--NO MODIFICAR-->
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script> <!--NO MODIFICAR-->

    </body>
</html>
