<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>  <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header"</header>  <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->

        <main>



            <div class="container-fluid contenedorDiv contenedorMain">



                <div class="row titulo">
                    <h3>PROFESIONALES EN MITURNO</h3>
                </div>




                 <table class="table row-col-12 table-light" id="tabla-profesionales">
                    <thead>
                    <tr class="row-col-12 titulosTabla">
                        <th scope="col" class="col-2">Profesional</th>
                        <th scope="col" class="col-2">
                            <select id="especialidad" class="especialidad" onchange="filtrarTabla()">
                                <option value="todas">Especialidad</option>
                                <option value="cardiologia">Cardiología</option>
                                <option value="clinica">Clínica</option>
                                <option value="ginecologia">Ginecología</option>
                                <option value="pediatria">Pediatría</option>
                            </select>
                       </th>
                        <th scope="col" class="col-2">Horario de atención</th>
                        <th scope="col" class="col-2" onclick="ordenarPorValorConsulta()">Valor de Consulta <i class="fa-solid fa-sort"></i> </th>
                        <th scope="col" class="col-2 califica" onclick="ordenarPorCalificacion()">Calificación <i class="fa-solid fa-sort"></i></th>
                        <th scope="col" class="col-1"  sec:authorize ="hasRole ('PACIENTE')"></th>
                    </tr>
                        <!--                            <th scope="col" class="col-1" sec:authorize ="hasRole ('ADMINISTRADOR')" >Acciones</th>
                                                </tr>-->
                    </thead>

                    <tbody th:each="profesional : ${profesionales}">
                        <tr>
                            <td th:text="${profesional.apellido} + ', ' + ${profesional.nombre}"></td>

                            <td th:text="${profesional.especialidad}" class="tdEspecialidad"></td>

                            <!--<td th:text="${profesional.obrasSociales}"></td>-->

                            <td th:text="${profesional.horaInicio} + ' / ' + ${profesional.horaFin}" class="tdHorario"></td>
                            <td th:text="'$ ' + ${profesional.honorario}" class="tdHonorario" data-valorconsulta="${profesional.honorario}"></td>
                            <td class="tdCalificacion" >
                                <span th:if="${profesional.calificacion >= 0.00 and profesional.calificacion < 1}" th:text="${'Aún no hay valoraciones'}"> </span>

                                <span th:if="${profesional.calificacion >= 1 and profesional.calificacion < 1.25}"> <img src="../../img/estrella10.jpg" class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 1.25 and profesional.calificacion < 1.75}"> <img src="../../img/estrella15.jpg" class="imgEstrella" > </span>
                                <span th:if="${profesional.calificacion >= 1.75 and profesional.calificacion < 2.25}"> <img src="../../img/estrella20.jpg" class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 2.25 and profesional.calificacion < 2.75}"> <img src="../../img/estrella25.jpg" class="imgEstrella" > </span>
                                <span th:if="${profesional.calificacion >= 2.75 and profesional.calificacion < 3.25}"> <img src="../../img/estrella30.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 3.25 and profesional.calificacion < 3.75}"> <img src="../../img/estrella35.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 3.75 and profesional.calificacion < 4.25}"> <img src="../../img/estrella40.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 4.25 and profesional.calificacion < 4.75}"> <img src="../../img/estrella45.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 4.75}"> <img src="../../img/estrella50.jpg"  class="imgEstrella"> </span>
                            <td scope="col" class="col-2" sec:authorize ="hasRole ('PACIENTE')"><a th:href="@{/turno/formularioTurno/__${profesional.id}__}">
                                    <button class="btn btn-primary btnQuieroTurno"> Quiero MiTurno</button></a></td>

                            <!--                            <td>
                                                            <a sec:authorize ="hasRole ('ADMINISTRADOR')" th:href= "@{/pro/perfil/__${profesional.id}__}"> Modificar </a>
                                                        </td>-->


                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary botonesLista" href="/inicio" role="button" th:if="${session.userSession != null} ">Volver</a>
                <a class="btn btn-primary botonesLista" href="/" role="button" th:if="${session.userSession == null}">Volver</a>
            </div>
        </main>

        <!--FOOTER-->
        <div class="container-fluid pie">
            <footer  th:replace="/fragments/footer :: footer"</footer><!--NO MODIFICAR-->
        </div>

        
        <script>
//            ordena valor
        var ordenAscendente = true;

function ordenarPorValorConsulta() {
  var tabla = document.getElementById("tabla-profesionales");
  var filas = Array.from(tabla.querySelectorAll("tbody tr"));

  filas.sort(function(a, b) {
    var valorA = parseFloat(a.querySelector(".tdHonorario").textContent.replace('$ ', '').replace(',', '.'));
    var valorB = parseFloat(b.querySelector(".tdHonorario").textContent.replace('$ ', '').replace(',', '.'));

    if (ordenAscendente) {
      return valorA - valorB;
    } else {
      return valorB - valorA;
    }
  });

  filas.forEach(function(fila) {
    fila.parentNode.removeChild(fila);
  });

  var tbody = tabla.querySelector("tbody");
  filas.forEach(function(fila) {
    tbody.appendChild(fila);
  });

  ordenAscendente = !ordenAscendente;
}
           
        </script>
        <script>  
        var ordenAscendenteCalificacion = true;

function ordenarPorCalificacion() {
  var tabla = document.getElementById("tabla-profesionales");
  var filas = Array.from(tabla.querySelectorAll("tbody tr"));

  filas.sort(function(a, b) {
    var calificacionA = obtenerCalificacion(a.querySelector(".tdCalificacion"));
    var calificacionB = obtenerCalificacion(b.querySelector(".tdCalificacion"));

    if (ordenAscendenteCalificacion) {
      return calificacionA - calificacionB;
    } else {
      return calificacionB - calificacionA;
    }
  });

  filas.forEach(function(fila) {
    fila.parentNode.removeChild(fila);
  });

  var tbody = tabla.querySelector("tbody");
  filas.forEach(function(fila) {
    tbody.appendChild(fila);
  });

  ordenAscendenteCalificacion = !ordenAscendenteCalificacion;
}

function obtenerCalificacion(elemento) {
  var calificacion = 0;
  var imgEstrellas = elemento.querySelectorAll("img.imgEstrella");

  if (imgEstrellas.length > 0) {
    var src = imgEstrellas[0].getAttribute("src");
    var regex = /(\d+)/g;
    var matches = regex.exec(src);

    if (matches !== null && matches.length > 0) {
      calificacion = parseFloat(matches[0]) / 10;
    }
  }

  return calificacion;
}
   </script>
        <script src="../../scripts.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script> <!--NO MODIFICAR-->


    </body>
</html>
