<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>  <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header"</header>  <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->

        <main>
            <div class="container-fluid contenedorDiv">

                <div class="row titulo">
                    <h3>LISTA DE PROFESIONALES</h3>
                </div>
                <form action="/buscarespec" method="POST" class="form-floating">
                    <div class="row rowDatosPersonales">
                        <div class="barraBusqueda col-xs-12">
                            <div class="col-xs-12 col-md-2 form-floating">
                                <select
                                    name="especialidad"
                                    id="especialidad"
                                    class="especialidad form-select"
                                    >
                                    <option value="" selected disabled>Todas</option>
                                    <option value="Cardiologia">Cardiología</option>
                                    <option value="Clinica">Clínica</option>
                                    <option value="Ginecologia">Ginecología</option>
                                    <option value="Pediatria">Pediatría</option>
                                </select>
                                <label for="especialidad" class="datosInput">Especialidad</label>
                            </div>

                            <button type="submit" class="btn btn-primary btnEnviar btnBuscar botonesLista">
                                Buscar
                            </button>
                        </div>
                    </div>

                </form>

                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Valor de Consulta</th>
                            <th scope="col">Calificación</th> 
                            <th scope="col" sec:authorize ="hasRole ('ADMINISTRADOR')" >Acciones</th>
                        </tr>
                    </thead>

                    <tbody th:each="profesional : ${profesionales}">
                        <tr>
                            <td th:text="${profesional.nombre}"></td>
                            <td th:text="${profesional.apellido}"></td>
                            <td th:text="${profesional.especialidad}"></td>
                            <td th:text="'$ ' + ${profesional.honorario}"></td>
                            <td>
                                <span th:if="${profesional.calificacion >= 0.00 and profesional.calificacion < 0.25}"> <img src="../../img/estrella00.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 0.25 and profesional.calificacion < 0.75}"> <img src="../../img/estrella05.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 0.75 and profesional.calificacion < 1.25}"> <img src="../../img/estrella10.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 1.25 and profesional.calificacion < 1.75}"> <img src="../../img/estrella15.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 1.75 and profesional.calificacion < 2.25}"> <img src="../../img/estrella20.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 2.25 and profesional.calificacion < 2.75}"> <img src="../../img/estrella25.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 2.75 and profesional.calificacion < 3.25}"> <img src="../../img/estrella30.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 3.25 and profesional.calificacion < 3.75}"> <img src="../../img/estrella35.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 3.75 and profesional.calificacion < 4.25}"> <img src="../../img/estrella40.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 4.25 and profesional.calificacion < 4.75}"> <img src="../../img/estrella45.jpg" height="20"> </span>
                                <span th:if="${profesional.calificacion >= 4.75}"> <img src="../../img/estrella50.jpg" height="20"> </span>
                            </td>

                            <td>
                                <a sec:authorize ="hasRole ('ADMINISTRADOR')" th:href= "@{/pro/perfil/__${profesional.id}__}"> Modificar </a>
                            </td>
                            
<!--                            <td>
                                <a sec:authorize ="hasRole ('ADMIN')" th:href= "@{/noticia/eliminar/__${noticia.id}__}"> Eliminar </a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                         
                <a class="btn btn-primary botonesLista" href="/inicio" role="button" th:if="${session.pacienteSession != null} OR ${session.profesionalSession != null} ">Volver</a>
                 <a class="btn btn-primary botonesLista" href="/" role="button" th:if="${session.pacienteSession == null} AND ${session.profesionalSession == null}">Volver</a>
            </div>
     </main>
 
        <!--FOOTER-->
        <div class="container-fluid pie">
            <footer  th:replace="/fragments/footer :: footer"</footer><!--NO MODIFICAR-->
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"
        ></script> <!--NO MODIFICAR-->

    </body>
</html>
