<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/fragments/head :: head" </head> <!--NO MODIFICAR-->

    <body>
        <!--HEADER-->
        <div class="container-fluid cabecera">
            <header th:replace="/fragments/header :: header" </header> <!--NO MODIFICAR-->
        </div>

        <!--MAIN-->

        <main>
            <div class="container-fluid contenedorMain" id="tabla-profesionales">
                <div class="row titulo">
                    <h3>MIS PROFESIONALES</h3>
                </div>
                <table class="table row-col-12 table-light tabla tabla-profesionales">
                    <thead>
                        <tr class="row-col-12 titulosTabla">
                            <th scope="col" class="col-2">Profesional</th>
                            <th scope="col" class="col-2">
                                <select id="especialidad" class="especialidad">
                                <option value="todas">Especialidad</option>
                                <option value="cardiologia">Cardiología</option>
                                <option value="clinica">Clínica</option>
                                <option value="ginecologia">Ginecología</option>
                                <option value="pediatria">Pediatría</option>
                            </select>
                            <th scope="col" class="col-1">Horario de Atención</th>
                            <th scope="col" class="col-1" id="consulta">Valor de Consulta <i class="fa-solid fa-sort"></i> </th>
                        <th scope="col" class="col-2 califica" id="califica">Calificación <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" class="col-2"  sec:authorize ="hasRole ('PACIENTE')">Puntuar</th>
                            <th scope="col" class="col-2"  sec:authorize ="hasRole ('PACIENTE')"></th> 
                        </tr>
                
                    </thead>

                    <tbody th:each="profesional : ${profesionales}">
                        <tr>
                            <td th:text="${profesional.apellido} + ', ' + ${profesional.nombre}"></td>

                            <td th:text="${profesional.especialidad}" class="tdEspecialidad"></td>


                            <td th:text="${profesional.horaInicio} + ' / ' + ${profesional.horaFin}" class="tdHorario"></td>
                            <td th:text="'$ ' + ${profesional.honorario}" class="tdHonorario"></td>
                            <td class="tdCalificacion">
                                <span th:if="${profesional.calificacion >= 0.00 and profesional.calificacion < 1}" th:text="${'Aún no hay valoraciones'}"> </span>

                                <span th:if="${profesional.calificacion >= 1 and profesional.calificacion < 1.25}"> <img src="../../img/estrella10.jpg" class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 1.25 and profesional.calificacion < 1.75}"> <img src="../../img/estrella15.jpg" class="imgEstrella" > </span>
                                <span th:if="${profesional.calificacion >= 1.75 and profesional.calificacion < 2.25}"> <img src="../../img/estrella20.jpg" class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 2.25 and profesional.calificacion < 2.75}"> <img src="../../img/estrella25.jpg" class="imgEstrella" > </span>
                                <span th:if="${profesional.calificacion >= 2.75 and profesional.calificacion < 3.25}"> <img src="../../img/estrella30.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 3.25 and profesional.calificacion < 3.75}"> <img src="../../img/estrella35.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 3.75 and profesional.calificacion < 4.25}"> <img src="../../img/estrella40.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 4.25 and profesional.calificacion < 4.75}"> <img src="../../img/estrella45.jpg"  class="imgEstrella"> </span>
                                <span th:if="${profesional.calificacion >= 4.75}"> <img src="../../img/estrella50.jpg"  class="imgEstrella"> </span>

                            <td scope="col" class="col-1 tdValorar" sec:authorize ="hasRole ('PACIENTE')">

                                <button type="button"class="btn btn-warning btnValorar" >Valorar</button>

                                <div class="formValorar" id="formValorar">
                                    <form
                                        th:action="@{/paciente/calificarProfesional/__${profesional.id}__}"
                                        method="POST">

                                        <div class="row rowDatosPersonales">
                                            <div class="barraBusqueda col-xs-12">
                                                <div class="container ">
                                                    <div class="rating" data-rating="0">
                                                        <span class="star"></span>
                                                        <span class="star"></span>
                                                        <span class="star"></span>
                                                        <span class="star"></span>
                                                        <span class="star"></span>
                                                        <input type="hidden" class="calificacion-input" name="puntaje" value="">
                                                    </div>
                                                
                                                    

                                                    <button type="submit" class="btn btn-primary  botonesLista btnCalificar">
                                                        Calificar

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>        

                            </td>

                            <td scope="col" class="col-2 tdTurno" sec:authorize ="hasRole ('PACIENTE')"><a th:href="@{/turno/formularioTurno/__${profesional.id}__}">

                                    <button class="btn btn-primary btnQuieroTurno"> Quiero MiTurno</button></a>

                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary botonesLista" href="/inicio" role="button">Volver</a>

            </div>
        </div>

    </div>
</div>

</main>
<!--FOOTER-->
<div class="container-fluid pie">
    <footer th:replace="/fragments/footer :: footer" </footer><!--NO MODIFICAR-->
</div>

<script src="../../scriptsProfesionales.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"
></script> <!--NO MODIFICAR-->
</body>

</html>

