<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <header class="header">
    <div class="d-flex flex-wrap align-items-center headerDiv">
      <div class="col-xs-12 col-md-2 imgLogo">
        <!--SI  HAY LOGUEADO-->
        <a href="/inicio" class="logo" th:if="${session.userSession != null}">
          <img src="../../logo2_App.png" alt="logo" class="logoHeader" />
        </a>

        <!--SI NO  HAY LOGUEADO-->
        <a href="/" class="logo" th:if="${session.userSession == null}">
          <img src="../../logo2_App.png" alt="logo" class="logoHeader" />
        </a>
      </div>

      <nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
        <div class="container-fluid contenedorLinks">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav navibar">
              <li class="nav-item">
                <!--SI  HAY LOGUEADO-->
                <a
                  href="/inicio"
                  th:if="${session.userSession != null}"
                  id="btn-inicio"
                  class="link"
                  >Inicio
                </a>

                <!--SI NO  HAY LOGUEADO-->
                <a
                  href="/"
                  th:if="${session.userSession == null}"
                  id="btn-inicio"
                  class="link"
                  >Inicio
                </a>
              </li>
              <li class="nav-item">
                <a href="/listar" id="btn-list-profesionales" class="link"
                  >Profesionales</a
                >
              </li>

              <li class="nav-item">
                <a href="/preguntasFrecuentes" id="btn-contacto" class="link"
                  >Preguntas Frecuentes</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  sec:authorize="hasRole ('PROFESIONAL') OR hasRole('ADMINISTRADOR')"
                  class="nav-link dropdown-toggle link"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Historia Clínica</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item linkDesplegable"
                      th:href="@{/historiaClinica/form_historia_clinica}"
                      >Nuevo Registro</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item linkDesplegable"
                      th:href="@{/historiaClinica/buscar}"
                      >Buscar</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  sec:authorize="hasRole ('PROFESIONAL') OR hasRole('ADMINISTRADOR')"
                  class="nav-link dropdown-toggle link"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Obras Sociales</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item linkDesplegable"
                      th:href="@{/admin/form_obraSocial}"
                      >Registrar nueva</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item linkDesplegable" href="">Lista</a>
                  </li>
                </ul>
              </li>
            </ul>

            <!--ESTO TIENE QUE APARECER SOLO EN EL INICIO.HTML-->
            <a th:href="@{/turno/formularioTurnoHeader}"
              ><button
                type="button"
                class="btn btn-primary botonesHeader btnTurnoHeader"
                sec:authorize="hasRole ('PACIENTE')"
              >
                Sacar Turno
              </button>
            </a>

            <!--ESTO TIENE QUE APARECER SOLO EN EL INICIO.HTML-->
            <a th:href="@{/admin/registroProfesional}"
              ><button
                type="button"
                class="btn btn-primary botonesHeader btnTurnoHeader"
                sec:authorize="hasRole ('ADMINISTRADOR')"
              >
                Crear Profesional
              </button>
            </a>
          </div>
        </div>
      </nav>

      <div class="col-xs-12 col-md-2 divLinksHeader">
        <div th:if="${session.userSession == null}">
          <a href="/login">
            <button type="button" class="btn btn-primary botonesHeader">
              Iniciar Sesión
            </button></a
          >
        </div>

        <div class="dropdown text-end" th:if="${session.userSession != null}">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              class="imagen-perfil"
              th:src="${session.userSession.imagen != null ? '/imagen/perfil/__${session.userSession.id}__' : '../predeterminada_perfil.png'}"
            />

        
          </a>
          <ul class="dropdown-menu text-small">
            <li>
              <a
                class="dropdown-item"
                th:href="@{/paciente/misTurnos}"
                sec:authorize="hasRole ('PACIENTE')"
                >Mis Turnos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                th:href="@{/paciente/misProfesionales}"
                sec:authorize="hasRole ('PACIENTE')"
                >Mis Profesionles</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                th:href="@{/profesional/agenda}"
                sec:authorize="hasRole ('PROFESIONAL') OR hasRole('ADMINISTRADOR')"
                >Agenda</a
              >
            </li>
            <li sec:authorize="hasRole ('PACIENTE')">
              <a
                th:href="@{/paciente/perfil}"
                id="btn-contacto"
                class="linkDesplegable divHeaderPerfil"
                >Perfil</a
              >
            </li>
            <li
              sec:authorize="hasRole ('PROFESIONAL') OR hasRole('ADMINISTRADOR')"
            >
              <a
                th:href="@{/profesional/perfil}"
                id="btn-contacto"
                class="linkDesplegable divHeaderPerfil"
                >Perfil</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>

            <li><a href="/logout" class="linkDesplegable">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</html>
