<header
    class="d-flex flex-wrap justify-content-between align-content-center"
    >
    <div class="col-xs-12 col-md-2 imgLogo">
        <a
            href="/"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
            >
            <img
                src="logo App_Mesa de trabajo 1.png"
                alt="logo"
                class="logoHeader"
                />
        </a>
    </div>

    <nav class="col-xs-12 col-md-8 navbar navbar-expand-md">
        <div class="container-fluid contenedorLinks">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav navibar">
                    <a href="#" id="btn-inicio" class="link">Inicio</a>
                    <a href="/pro/listar" id="btn-list-profesionales" class="link"
                       >Profesionales</a
                    >
                    <a href="#contacto" id="btn-contacto" class="link">FAQ</a>
                    <a href="#contacto" id="btn-contacto" class="link">Perfil</a>
                </div>
            </div>
            <!--ESTO TIENE QUE APARECER SOLO EN EL INICIO.HTML-->
            <button
                type="button"
                class="btn btn-primary botonesHeader btnTurnoHeader"
                >
                Sacar Turno
            </button>

            <a href="/login"> <button type="button" class="btn btn-primary botonesHeader">Iniciar Sesión</button></a>


            <!--<!--  AGREGAR A BOTON SACAR TURNO (poner como atributo de la etiqueta)  sec:authorize ="hasRole ('PACIENTE')"-->
        </div>
    </nav>
</header>