/* GENERAL */

body {
  background-color: #49c5b6 !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 0 0 0 0;
}

p {
  color: #fff !important;
}

h1,
h2,
h3 {
  font-weight: 900 !important;
}

/* HEADER */
.cabecera {
  padding: 0 !important;
  height: 75px !important;
  position: sticky;
  top: 0;
  color: #17252a;
}
.logoHeader {
  justify-items: start;
  display: flex;
  height: 3em;
  color: #17252a;
}

.navbar {
  background-color: #49c5b6;
}
.navbar-collapse {
  justify-content: end;
}
header {
  background-color: #49c5b6;
  text-align: right;
  padding: 0 5%;
  align-items: center;
  position: sticky;
  top: 0;
}

.link:link,
.link:visited,
.link:active {
  text-decoration: none;
  padding: 1.7em;
  color: #17252a;
  font-weight: 600;
}

.link:hover {
  font-weight: 700;
}
.navbar-toggler {
  text-decoration: none;
  padding: 1.7em;
  color: #17252a !important;
  font-weight: 600 !important;
  background-color: #49c5b6 !important;
  border: none !important;
}

/* BODY*/
.presentacion {
  padding: 0% 5% 10% 5%;
   height: 90vh; 
  width: 100%;
}



/* FOOTER */

footer {
  background: transparent;
  color: white;
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: center;
  padding-inline: 5%;
}

.linkFooter {
  margin-right: 5%;
}
.pie {
  padding-inline: 0 !important;
}
.logoFooter {
  height: 35px;
}

.iconoContacto {
  font-size: 1.5em;
  color: #17252a;
}